@font-face {
  font-family: Videotype;
  src: url('fonts/videotype.ttf');
}

* {
	font-family: Videotype;
}

body {
	height: 100vh;
	background-image: url('img/Wallpaper.gif');
    background-color: #010;
    background-blend-mode: multiply;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #007b12;
}

#relogio {
	animation: rodar 1s;
	animation-iteration-count: infinite;
}

@keyframes rodar {
	0% {
		transform: rotate(0deg);
	} 

	50% {
		transform: rotate(180deg);		
	}

	100% {
		transform: rotate(360deg);
	}
}

#aguardando {
	font-size: 50px;
}